<div class="py-5">
  <div class="container">

    <div *ngFor="let group of ingredientsGroups; first as isFirst">
      <h2 [class]="isFirst ? 'mt-0' : 'mt-5'" style="text-align: center">{{group.name}}</h2>
      <div class="row justify-content-center" *ngFor="let ingredientRow of group.ingredients; last as isLast">
        <div class="pl-0 pr-0" *ngFor="let ingredient of ingredientRow">

          <div class="card box-shadow ingredient-ico">
            <a [href]="'/ingredient-page/' + ingredient.id">
              <img [src]="'/assets/images/ingredients/95/' + ingredient.image">
            </a>

            <div class="card box-shadow descr text-center">
              <div class="ingredient-btn-div" *ngIf="isLoggedIn">
                <button
                  class="btn btn-primary btn-sm pl-2 pr-2 ingredient-btn"
                  *ngIf="!checkIfIngredientInBar(ingredient.id); else deleteButton"
                  id="addToBar"
                  (click)="addIngredientToBar(ingredient.id)"
                >
                  <i class="fas fa-plus"></i>
                </button>

                <ng-template #deleteButton>
                  <button
                    class="btn btn-danger btn-sm pl-2 pr-2 ingredient-btn"
                    id="deleteFromBar"
                    (click)="deleteIngredientFromBar(ingredient.id)"
                  >
                    <i class="fas fa-times"></i>
                  </button>
                </ng-template>
              </div>

              <a [href]="'/ingredient-page/' + ingredient.id">
                <img [src]="'/assets/images/ingredients/140/' + ingredient.image" class="mb-1 mt-1">
              </a>
              <strong>{{ingredient.name}}</strong>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
